/* Header changes that are specific to page */
.header-icon {
    width: 33px;
    height: 33px;
    left: 13px;
    top: 12px;
}

.header-text {
    left: 58px;
}

/* Footer changes that are specific to page */
#selected-option {
  left: 97.5px;
}