@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Baloo+Bhai+2:400");

/* Header changes that are specific to page */
.header-icon {
    width: 33px;
    height: 33px;
    left: 13px;
    top: 12px;
}

.header-text {
    left: 58px;
}

/* Footer changes that are specific to page */
#selected-option {
  left: 97.5px;
}