/* Header changes that are specific to page */
.header-icon {
    width: 33px;
    height: 33px;
    left: 13px;
    top: 12px;
}

.header-text {
    left: 53px;
}

/* Footer changes that are specific to page */
#selected-option {
  left: 195px;
}

/* edit-sub page */
.delete-button {
    position: absolute;
    width: 216px;
    height: 42px;
    left: 86px;
    top: 635px;

    background: #D84242;
    border-radius: 9px;
}

.delete-text {
    position: absolute;
    width: 198px;
    height: 24px;
    left: 95px;
    top: 643px;

    font-family: 'Assistant';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    letter-spacing: -0.006em;

    color: #FFFFFF;
}

.add-sub-button {
    top: 580px !important;
}

.add-sub-text {
    top: 588px !important;
}

.cancel-button {
    top: 690px !important;
}

.cancel-text {
    top: 698px !important;
}

.put-on-hold-checkbox {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 24px;
    height: 24px;

    top: 518px;
    left: 34px;
}

.put-on-hold-text {
    position: absolute;
    width: 164px;
    height: 24px;

    /* Body 1/Normal */

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    font-feature-settings: 'tnum' on, 'lnum' on;

    /* Gray / 700 */

    color: #616161;

    top: 521px;
    left: 71px;
}