@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Baloo+Bhai+2:400");

/* Header changes that are specifci to page */
.header-icon {
    left: 116px;
    width: 44px;
    height: 44px;
    top: 6px;
}

.header-text {
    left: 170px;
}

/* Footer changes that are specific to page */
#selected-option {
  left: 0px;
}