<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png">

    <link rel="stylesheet" href="page-template.css">

    <link rel="stylesheet" href="../../shared/header.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body style="margin: 0px; background: rgb(255, 255, 255); width: min-content;">
    <input type="hidden" id="anPageName" name="page" value="iphone-13-13-pro-1">

    <div class="container-center-horizontal">
        <div class="iphone-13-13-pro-1 screen " data-id="5:117">
            <div class="header">
                <img class="header-icon" src="../home/subtract.svg">
                <div class="header-text">
                    Template
                </div>
            </div>

            <div class="footer-parent">
                <script src="../../shared/footer/attach-footer.js"></script>
            </div>
        </div>
    </div>
</body>
</html>