/* Header changes that are specifci to page */
.header-icon {
    left: 116px;
    width: 44px;
    height: 44px;
    top: 6px;
}

.header-text {
    left: 170px;
}

/* Footer changes that are specific to page */
#selected-option {
  left: 0px;
}