@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Baloo+Bhai+2:400");

/* Header changes that are specific to page */
.header-icon {
    width: 33px;
    height: 33px;
    left: 126px;
    top: 12px;
}

.header-text {
    left: 170px;
}

/* Footer changes that are specific to page */
#selected-option {
  left: 0px;
}

/* page specific styling */
.title-texts {
    position: absolute;
    width: 312px;
    height: 24px;
    left: 37px;

    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 24px;
    /* identical to box height, or 67% */

    display: flex;
    align-items: center;
    letter-spacing: -0.006em;

    color: #000000;
}

#active-text {
    top: 129px;
}

#paid-text {
    top: 330px;
}

.sub-title-texts {
    position: absolute;
    width: 62px;
    height: 24px;
    left: 17px;

    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    letter-spacing: -0.006em;

    color: #000000;
}

#sub-title-0 {
    top: 363px;
}

#sub-title-1 {
    top: 538px;
}

#sub-title-2 {
    top: 713px;
}

#sub-title-3 {
    top: 888px;
}

#menu-item-0 > .menu-item-box {
    top: 172px;

    background: linear-gradient(90deg, rgba(246, 153, 27, 0.6) 0%, #FCFCF7 100%);
}

#menu-item-0 > .menu-item-box > .menu-item-icon {
    background: url('../home/image-13.png');
    background-size: cover;
}


#menu-item-1 > .menu-item-box {
    top: 242px;

    background: linear-gradient(90deg, #B142E6 0%, rgba(217, 217, 217, 0) 100%);
}

#menu-item-1 > .menu-item-box > .menu-item-icon {
    background: url('../home/image-14.png');
    background-size: cover;
}

#menu-item-2 > .menu-item-box {
    top: 396px;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.62) 0%, rgba(229, 9, 19, 0.38) 100%);
}

#menu-item-2 > .menu-item-box > .menu-item-icon {
    background: url('../home/image-14.png');
    background-size: cover;
}

#menu-item-3 > .menu-item-box {
    top: 463px;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.63) 0%, #1DDA63 100%);
}

#menu-item-3 > .menu-item-box > .menu-item-icon {
    background: url('../home/image-14.png');
    background-size: cover;
}

#menu-item-4 > .menu-item-box {
    top: 571px;

    background: linear-gradient(90deg, rgba(247, 165, 31, 0.69) 0%, rgba(217, 217, 217, 0) 100%);
}

#menu-item-4 > .menu-item-box > .menu-item-icon {
    background: url('../home/image-14.png');
    background-size: cover;
}

#menu-item-5 > .menu-item-box {
    top: 638px;

    background: linear-gradient(90deg, rgba(134, 212, 52, 0.74) 0%, rgba(217, 217, 217, 0) 100%);
}

#menu-item-5 > .menu-item-box > .menu-item-icon {
    background: url('../home/image-14.png');
    background-size: cover;
}

#menu-item-6 > .menu-item-box {
    top: 746px;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.62) 0%, rgba(229, 9, 19, 0.38) 100%);
}

#menu-item-6 > .menu-item-box > .menu-item-icon {
    background: url('../home/image-14.png');
    background-size: cover;
}

#menu-item-7 > .menu-item-box {
    top: 813px;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.63) 0%, #1DDA63 100%);
}

#menu-item-7 > .menu-item-box > .menu-item-icon {
    background: url('../home/image-14.png');
    background-size: cover;
}

#menu-item-8 > .menu-item-box {
    top: 921px;

    background: linear-gradient(90deg, rgba(134, 212, 52, 0.74) 0%, rgba(217, 217, 217, 0) 100%);
}

#menu-item-8 > .menu-item-box > .menu-item-icon {
    background: url('../home/image-14.png');
    background-size: cover;
}