.header {
    position: absolute;
    width: 390px;
    height: 57px;
    left: 0px;
    top: 44px;

    background: #5545B1;
}

.header-icon {
    position: absolute;
}

.header-text {
    position: absolute;
    width: 309px;
    height: 24px;
    top: 17px;

    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    /* identical to box height, or 67% */

    letter-spacing: -0.006em;

    color: #FFFFFF;
}
